.card {
    display: flex;
    padding: 0.5rem;
    border: 1px solid #444;
    margin-bottom: 1rem;
    border-radius: 15px;
    background-color: rgb(244, 255, 255)
}

.dojo-logo {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-right: 0rem;
  }